@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --button-click: #2725ab;
  --accent: #5856d6;
  --primary: #000;
  --tertiary: #8e8e93;
  --accent: rgba(0, 0, 0, 0.2);

  --font-main: "Inter", sans-serif;
  --font-second: "Helvetica", sans-serif;
  --font-third: "DaMiOne", sans-serif;
  --font3: "SF Pro Text", sans-serif;
  --font4: "Sora", sans-serif;
}

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-active: #2725ab;
  --color-hover: #5856d6;
  --color-primary: #000;
  --color-tertiary: #8e8e93;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main), var(--font-second), var(--font-third), sans-serif;
  font-size: 18px;
}
